<ProjectOverview @project={{model}} />

<div class="flex-1 bg-white flex flex-col">
  <h4 class="p-4">Logs</h4>
<pre class="p-4 flex-1 overflow-auto bg-grey-darkest text-white"><code>
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (4470ms) – Serving on http://localhost:4200/




Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
Rollup (2)                                    | 1594ms (797 ms)
Package /assets/vendor.js (1)                 | 695ms
BuildTailwindPlugin (1)                       | 469ms
broccoli-persistent-filter:EslintValid... (2) | 280ms (140 ms)

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (749ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 402ms
SassCompiler (1)                              | 157ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (574ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 264ms
SassCompiler (1)                              | 162ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (496ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 218ms
SassCompiler (1)                              | 155ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (597ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 252ms
SassCompiler (1)                              | 175ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (531ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 242ms
SassCompiler (1)                              | 157ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (501ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 222ms
SassCompiler (1)                              | 159ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (710ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 385ms
SassCompiler (1)                              | 160ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (529ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 224ms
SassCompiler (1)                              | 149ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (507ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 223ms
SassCompiler (1)                              | 155ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (558ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 263ms
SassCompiler (1)                              | 168ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (526ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 234ms
SassCompiler (1)                              | 154ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (477ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 213ms
SassCompiler (1)                              | 149ms

file changed project-detail/template.hbs
DEPRECATION WARNING on line 1, column 8 of /Users/ryantablada/sites/oss/localdev/localdev-design/tmp/sass_compiler-input_base_path-Et4xKOil.tmp/app/styles/app.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.


Build successful (868ms) – Serving on http://localhost:4200/
Skipping livereload for: app/project-detail/template.hbs
/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs
Reloading /Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs only
GEThttp://localhost:7020/changed?files=/Users/ryantablada/sites/oss/localdev/localdev-design/app/project-detail/template.hbs



Slowest Nodes (totalTime => 5% )              | Total (avg)
----------------------------------------------+---------------------
BuildTailwindPlugin (1)                       | 481ms
SassCompiler (1)                              | 178ms
</code></pre>
</div>
